@using MmiErp.Common
@{
    this.ViewData["Title"] = "Add Car";
}

<form method="post">
  <div class="form-group">
    <label for="make">Make</label>
    <input type="text" class="form-control" id="make" name="Make">
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <input type="text" class="form-control" id="model" name="Model">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" min="100" max="500000000" class="form-control" id="price" name="Price">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
